[user]
	name = Alex Hirsch
	email = w4rh4wk@bluephoenix.at
[github]
	user = w4rh4wk
[alias]
	c = checkout
	co = commit
	d = diff
	ds = diff --staged
	l = log --all --graph --oneline --decorate
	s = status --short --branch
	ff = merge --ff-only
	mnc = merge --no-ff --no-commit
	puff = pull --ff-only
	purr = pull --rebase
	pushf = push --force-with-lease
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep '^[[:lower:]]'
[color]
	ui = true
[core]
	editor = nvim
	autocrlf = false
	pager = less -+FX
[push]
	default = simple
[rebase]
	autosquash = true
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d -c '$wincmd w' -c 'wincmd J' \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[tig "bind"]
	main = = !git commit --fixup=%(commit)
	main = <Ctrl-R> !git rebase --autosquash -i %(commit)
