[user]
	name = Alex Hirsch
	email = w4rh4wk@bluephoenix.at
[github]
	user = w4rh4wk
[init]
	defaultBranch = main
[core]
	editor = nvim
	#pager = less -+FX
[color]
	ui = true
[alias]
	c = checkout
	co = commit
	d = diff
	ds = diff --staged
	l = log --all --graph --oneline --decorate
	s = status --short --branch
	ff = merge --ff-only
	mnc = merge --no-ff --no-commit
	pushu = push -u origin HEAD
	purr = pull --rebase
	pushf = push --force-with-lease
	ignore = update-index --skip-worktree
	unignore = update-index --skip-worktree
	ignored = !git ls-files -v | grep ^S
[pull]
	ff = only
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d -c '$wincmd w' -c 'wincmd J' \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[rebase]
	autosquash = true
[tig "bind"]
	main = = !git commit --fixup=%(commit)
	main = <Ctrl-R> !git rebase --autosquash -i %(commit)
[url "git@github.com:"]
	insteadOf = https://github.com/
