<?xml version="1.0"?>
<Settings component="StartMenu" version="4.3.1">
	<MenuStyle value="Classic1"/>
	<Computer value="Hide"/>
	<Documents value="Hide"/>
	<UserFiles value="Hide"/>
	<UserDocuments value="Hide"/>
	<UserPictures value="Hide"/>
	<ControlPanel value="Menu"/>
	<Network value="Menu"/>
	<Printers value="Menu"/>
	<LogOff value="0"/>
	<Undock value="0"/>
	<Search value="0"/>
	<ShowAppsMenu value="0"/>
	<Help value="0"/>
	<Run value="1"/>
	<HideProgramsMetro value="1"/>
	<RecentPrograms value="None"/>
	<RecentMetroApps value="0"/>
	<EnableJumplists value="0"/>
	<StartScreenShortcut value="0"/>
	<ShowNextToTaskbar value="1"/>
	<SearchBox value="Normal"/>
	<SearchInternet value="0"/>
	<MainMenuAnimation value="None"/>
	<SubMenuAnimation value="None"/>
	<SkinC1 value="Metro"/>
	<SkinVariationC1 value=""/>
	<SkinOptionsC1>
		<Line>CAPTION=0</Line>
		<Line>USER_IMAGE=0</Line>
		<Line>USER_NAME=0</Line>
		<Line>CENTER_NAME=0</Line>
		<Line>SMALL_ICONS=1</Line>
		<Line>LARGE_FONT=0</Line>
		<Line>ICON_FRAMES=0</Line>
		<Line>OPAQUE=0</Line>
	</SkinOptionsC1>
	<SkipMetro value="1"/>
</Settings>
